---
layout: post
title: Blog
permalink: /blog/
nav_name: Blog
navigation_weight: 3
---

<div class="jumbotron">
	<h1>Hello from My Blog</h1>
	<p>Feel free to check back, I'm working on my blog game and should post some new content soon.. Please stay tuned...</p>
</div>

<ul class="posts">
		{% for post in site.posts %}
		<li>
			<a href="{{post.url}}">
				{% if post.main_img %}
				<span class="post_img">
					<img src="{{post.main_img}}">
				</span>
				{% endif %}
				<h2>{{post.title}}</h2>
			</a>
		<span>Published by <a href="{{site.baseurl}}">{{post.author}}</a>  on
		{{ post.date | date: "%b %d, %Y" }}</span>
			<p class="excerpt">{{post.excerpt}}</p>
		</li>
	{% endfor %}
</ul>
