<div class="row social">
  <div class="col-sm-3 col-xs-6">
    <a href="mailto:ali@unsyllable.com"><i class="fa fa-envelope-o"></i>Email</a>
  </div>
  <div class="col-sm-3 col-xs-6">
    <a href="https://www.linkedin.com/in/unsyllable/" target="_blank"><i class="fa fa-linkedin-square"></i>Linkedin</a>
  </div>
  <div class="col-sm-3 col-xs-6">
    <a href="https://www.github.com/unsyllable" target="_blank"><i class="fa fa-github-alt"></i>GitHub</a>
  </div>
  <div class="col-sm-3 col-xs-6">
    <a href="https://www.codepen.io/unsyllable" target="_blank"><i class="fa fa-codepen"></i>Codepen</a>
  </div>
</div>
